# Use this docker-compose to test the algorithm locally
services:
  algorithm:
    build:
      context: .
      args:
        PYTHON_VERSION: ${PYTHON_VERSION:-3.10-alpine}
    volumes:
      - ./_data:/data:rw
      - ./oceanprotocol_job_details:/oceanprotocol_job_details/oceanprotocol_job_details:rw
      - ./tests:/oceanprotocol_job_details/tests:ro
    environment:
      DEV: 1
      TEST: 1
      DIDS: '["17feb697190d9f5912e064307006c06019c766d35e4e3f239ebb69fb71096e42"]'
      secret: "a super super secret"
      TRANSFORMATION_DID: "1234567890"
