# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Package testing

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10-alpine", "3.11-alpine", "3.12-alpine", "3.13-alpine"]

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup and Install uv
        uses: astral-sh/setup-uv@v5
        with:
          version: "0.6.4"

    - name: Set up Python
      run: uv python install

    - name: Run tests
      run: uv run pytest